[Desktop Entry]
Name=WayClicker
GenericName=WayClicker
Comment=A blazing fast gui autoclicker for linux
Exec=wayclicker
Icon=wayclicker
Terminal=false
Type=Application
Categories=Utility;
